<div class="wrapper">
  <mat-card class="postCard">
    <mat-grid-list cols="1" rowHeight="300">
      <mat-grid-tile *ngFor="let post of posts">
        <mat-card>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-content>
            {{ post.body }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="galleryCard">
    <mat-grid-list cols="5" rowHeight="150px">
      <mat-grid-tile *ngFor="let gallery of galleryList">
        <mat-card-content>
          <img [src]="gallery.thumbnailUrl" />
        </mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>